# data contains .tfrecord files
data/frames
data/test-frames
data/thumbnails
data/videos
tfrecords
interface/static/images
labeled_data/
__pycache__/
.DS_Store
vocab.csv
# old contains code that may/may not be used
old/
openimages/
.vscode/
needs_profiling.prof