# data contains .tfrecord files
data/frames
data/test-frames
data/thumbnails
data/videos
tfrecords
labeled_data/
__pycache__/
.DS_Store
vocab.csv
# old contains code that may/may not be used
old/
openimages/
.vscode/
needs_profiling.prof
eval
predictions
# Latex Paper compilation files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.log
*.pdf
*.run.xml
*.synctex.gz

