# stored predictions, frames, thumbnails, and data from YT8M API
frames
thumbnails
videos
tfrecords
labeled_data/
category-ids

# Compiler / Setting Stuff
__pycache__/
.DS_Store
.vscode/
needs_profiling.prof

# Old Model
sift.py

# Latex Paper compilation files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.log
*.pdf
*.run.xml
*.synctex.gz

