<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Image Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="text/javascript">
      var ytJSON = JSON.parse('{{yt_links | tojson | safe}}');
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/prediction.js') }}"></script>
  </head>
  <body>
    <div id="header" class="center-text">
      <h1 id="title"><span class="youtube-red">YouTube</span> Image Search</h1>
      <h3 class="subtitle" style="color: rgb(97, 97, 97); font-weight: normal;">Find YouTube Videos Using Only Images!</h3>
    </div>
    <hr class="divider">
    <form id="image-upload-form" class="flex-center-items" method="post" action="/" enctype="multipart/form-data">
      <input type="file" name="imagefile" id="imagefile"/>
      <select name="compute_models" class="model-dropdown" id="premodel-picker">
        <option value="AX_MODEL">CNN</option>
        <option value="RMAC_MODEL">CNN + RMAC</option>
        <option value="RCNN_MODEL">RCNN</option>
        <option value="ALL">All Models</option>
      </select>
      <input type="submit" />
    </form>
    {% if b64_preview_image %}
      <hr class="divider">
        <div id="image-preview" class="flex-center-items">
            <h3 class="subtitle">Predicted on:</h3>
            <img src="{{ b64_preview_image }}" />
        </div>
    {% endif %}
    {% if yt_links %}
      <div id="found-header" class="flex-center-items">
        <h3 id="found-header-title" class="subtitle">Found (Most To Least Related):</h4>
      </div>
      <div id="yt-embed-links" class="flex-center-items"></div>
    {% endif %}
  </body>
</html>

