body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#header {
    text-align: center;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
    
}
.subheading {
    font-size: 1.5rem;
    text-align: center;
}

#image-upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#image-preview > img {
    /* Maintain aspect ratio while keeping a maximum size */
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

#yt-embed-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.video-iframe {
    width: 500px;
    height: 300px;
    border: 0;
}

button {
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
}

#found-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

#model-dropdown {
    border: 0;
    border-bottom: 1.5px solid black;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
    background: transparent;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#model-dropdown {
    left: 0;
    right: auto;
}

.video-container {
    /* display: flex; */
    align-items: center;
    column-gap: 1rem;
}

.video-rel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    padding: 1rem;
}

.video-rel-info + .subheading {
    font-weight: 600;
}


